/* =========================
   AUTH PAGE
========================= */
.auth-container {
  min-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  width: 400px;
  padding: 36px;

  background:
    linear-gradient(180deg, rgba(2,6,23,0.85), rgba(2,6,23,0.7));
  backdrop-filter: blur(20px);

  border-radius: 22px;
  border: 1px solid rgba(255,255,255,0.08);

  box-shadow:
    0 40px 80px rgba(0,0,0,0.6),
    inset 0 1px 0 rgba(255,255,255,0.04);
}

.auth-card h2 {
  font-size: 30px;
  margin-bottom: 22px;
  text-align: center;
  letter-spacing: -0.5px;
}

.auth-card input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 16px;

  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.12);

  background: rgba(2,6,23,0.9);
  color: #e5e7eb;
}

.auth-card input::placeholder {
  color: #9ca3af;
}

.auth-card button {
  width: 100%;
  padding: 14px;

  border-radius: 14px;
  border: none;

  background:
    linear-gradient(90deg, #22c55e, #16a34a);
  color: white;
  font-weight: 700;

  cursor: pointer;
  box-shadow:
    0 14px 40px rgba(34,197,94,0.45);
}

.auth-card button:hover {
  transform: translateY(-1px);
}
